<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Met Museum</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/interaction.js" defer></script>
</head>

<!-- NAVIGATION SECTION -->
<body>
    <header>
        <nav>
            <ul>
                <li><a href=#>Art</a></li>
                <li><a href="#">The Met Collection</a></li>
            </ul>
        </nav>
    </header>
<!------------------------------------------------------------------------------>