<%- include('./partials/head') %> <!-- Deze regel voegt de inhoud van head.ejs toe aan de pagina -->

<!-- HERO SECTION -->
<header class="hero-section">
    <section class="hero-image-bg"></section>

    <aside class="hero-overlay"></aside> 

    <article class="hero-content">
        <h1 class="hero-title">
            <span class="red-block">The Met Museum Collection</span>
        </h1>
    </article>
</header>

<!----------------------------------------------------------->

<!-- DEPARTMENTS SECTION -->
    <section class="departments-section">
        <h2>Explore Our Collections</h2>
            <% departments.forEach(department => { %>
                <article class="collection-card">
                    <a href="/department/<%= department.departmentId %>">
                            <h3><%= department.displayName %></h3>
                            <p>Discover the masterpieces of the <%= department.displayName %> collection.</p>
                    </a>
                </article>
            <% }) %>
    </section>
<!-------------------------------------------------->

</body>
</html>
