/* -------------------------------------MAIN STYLING--------------------------------------------------- */
:root{
    --primary-color: #E4002B;
    --secundary-color: #6E182E;
    --color-accordion:#ae2d51;
    --accent-color: #f4c3cc;
    --text-color:  #333;
    --text-color-accent:#65696a;
    --background-color: #F8F8F8;

    --font-met-serif: 'The Met Serif', serif;
    --font-met-sans: 'The Met Sans', sans-serif;
}
    @font-face {
        font-family: 'The Met Serif';
        src: url('fonts/TheMetSerif-Regular.woff2') format('woff2'),
             url('fonts/TheMetSerif-Regular.woff') format('woff');
    }
    
    @font-face {
        font-family: 'The Met Sans';
        src: url('fonts/TheMetSans-Regular.woff2') format('woff2'),
             url('fonts/TheMetSans-Regular.woff') format('woff');
    }

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-met-sans);
    font-weight: 400;
    line-height: 1.5555;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: var(--text-color);
}

/* -------------------------------------NAVIGATION STYLING--------------------------------------------------- */

nav{
    background-color: var(--primary-color);
    color: white;;
    display: flex;
    font-weight: 600;
    height: 60px;
    position: fixed;
    width: 100%;
    & a{
        color: white;
        text-decoration: none;
    }
   & li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
/* -------------------------------------NAVIGATION STYLING end--------------------------------------------------- */
h1{
    font-family: var(--font-met-serif);
}
h2, h3{
    font-family: var(--font-met-sans);
}
/* Hero Section */
.hero-section {
    position: relative;
    height: 50vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}
.hero-image-bg{
    z-index: -1;
    display: flex;
    gap: 1em;
    position: absolute;
    justify-content: center;
    bottom: 1.5em;
    & img{
        width: 10em;
        height: 15em;
        object-fit: cover;
        animation: zoomRotate 20s infinite ease-in-out;
        transition: transform 0.5s ease;
    }
    & img:nth-child(4) {
        width: 15em; 
    }

}
.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #450c1489;
    z-index: 1;
}

.hero-content {
    position: relative;
    top: 1.5em;
    z-index: 2;
    color: white;
}

.hero-title {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.red-block {
    background-color: var(--primary-color);
    padding: 10px 20px;
    animation: fadeIn 2s ease;
}

.black-block {
background-color: black;
color: var(--primary-color);
font-family: var(--font-met-sans);
font-size: .75em; 
}


@keyframes zoomRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(2) rotate(5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}   

@media (min-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }
    .hero-image-bg {
        height: 20em;
        & img {
            width: 100%;
            height: 100%;
        }
    }
}
/* -------------------------------------DEPARTMENTS SECTION STYLING --------------------------------------------------- */
.departments-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}
.collection-card {
    & figure {
        margin: 0;
        width: 20em;
    }
    & img {
        display: block;
        height: 17em;
    }
    & a{
        text-decoration: none;
        color: var(--primary-color);
    }
}

.card-caption {
    padding: 15px;
    background-color: black; 
    border: var(--primary-color) 2px solid;
    & h3 {
        margin: 10px 0;
        font-size: 1.2rem;
    }
    & p {
        margin: 0;
        color:  var(--background-color);
    }
}

@media (min-width: 768px) {
    .departments-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


